<div class="section box current" id="slideFirst">
    <div class="slide" data-anchor="slide1">

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img id="img-slideMain" class="img-thumbnail" alt="" style="width:100%; height:630px">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 15px">
                            <img src="./images/arca/arca-tokoh-pertapa.jpg" id="img-slide1" class="img-thumbnail" alt="" style="width:200px; height:200px">
                        </div>
                        <div class="col-md-12" style="margin-bottom: 15px">
                            <img src="./images/arca/arca-tokoh-pertapa1.jpg" id="img-slide2" class="img-thumbnail" alt="" style="width:200px; height:200px">
                        </div>
                        <div class="col-md-12" style="margin-bottom: 15px">
                            <img src="./images/arca/arca-tokoh-pertapa2.jpg" id="img-slide3" class="img-thumbnail" alt="" style="width:200px; height:200px">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Arca Tokoh Pertapa</h2>
                    </div>
                    <div class="text-center description">
                        <ul class="list-unstyled">
                            <li>Nama Benda : </li>
                            <li>Bahan :</li>
                            <li>Ukuran :</li>
                            <li>Asal :</li>
                        </ul>
                    </div>
                </div>
                </br>
                <div class="col-md-12" style="margin-bottom: 160px">
                    <p class="description">Magni vitae harum magni quis. Deleniti ut aliquam assumenda est earum itaque nostrum dolor aut. Quas
                        aut asperiores facilis magni qui et sit eos iste. Voluptatem nihil voluptate ipsum quibusdam eos
                        magni rerum nam. Ex cum cum et dolore eos repellendus at.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>